// Masthead
//
// Super small header above the content for site name and short description.

.summary {
  padding-top:    0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}

.social_media {
  margin-top: 0;
  margin-bottom: 0.3rem;
}
